# Database url
DATABASE_URL="postgresql://postgres:postgres@db:5432/vibe-db?schema=public"

# encryption key
ENCRYPTION_KEY="32-character-long-secret-key"

# Jwt keys
JWT_SECRET="jwt-secret"
JWT_EXPIRES_IN="expires-in"

# Aws
AWS_ACCESS_KEY="aws-access-key"
AWS_SECRET_KEY="aws-secret-key"
AWS_S3_BUCKET="aws-s3-bucket-name"
AWS_REGION="region"